@charset "utf-8";

/* 
@font-face {
  font-family: 'MaruBuri';
  src: url('../fonts/MaruBuri-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
} */

@font-face {
  font-family: 'MaruBuri';
  src: url('../fonts/MaruBuri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


*,
*::before, 
*::after {
  box-sizing: border-box;
  outline: none;
}

html, header, p, footer{
  margin: 0;
}

body {
  margin: 0;
  width: 100vw;
  user-select: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  display: none;
}

ul, li {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button{
  all: unset; 
  cursor: pointer;
}

.noshow {
  display: none !important;
}

.scroll-lock {
  overflow-y: hidden;
}

/*------------------------------------------------------------BACKGROUND--*/

.background {
  width: 100vw; height: 70vw;
  opacity: 100%;
}

.background video {
  width: 100%;
}

.background .title {
  position: fixed;
  left: 50vw; top: 8%;
  width: 30%; height: 100%;
}

.background .title object {
  width: 100%; height: 100%; 
}

.background #shadow {
  position: absolute;
  left: 50vw; top: -100px;
  transform: translate(-50%, 0%);
  background: no-repeat top url(../src/titleShadow.png);
  background-size: contain;
  width: 60%; height: 80%;
}

.backtext {
  user-select: text;
  font-family: degular-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 0.9;
  word-wrap: break-word;
  word-break: keep-all;
}

#browntext{
  color: #1E1407;
}

#browntext::selection {
  color: #666666;
  background-color: #212121;

}

#graytext{
  color: #212121;
}

#graytext::selection {
  color: #666666;
  background-color: #1E1407;

}

/*----------------------------------------------------------------HEADER--*/

.header {
  position: absolute;
  width: 100vw; height: 70vw;
  transform: translateY(-100%);
}

.header .textwrap {
  position: absolute;
  left: 50vw; top: 0;
  transform: translate(-50%, 0%);
  width: 1280px; height: 1080px;

  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 256px));
  grid-template-rows: repeat(10, 1fr);;
}

.header #virus01 {
  position: absolute;
  width: 21.5vw; height: 43vw;
  left: 0%; top: 50vh;
  transform: translate(0%, -50%);
}

.header #virus02 {
  position: absolute;
  width: 43vw; height: 43vw;
  left: 50%; top: 50vh;
  transform: translate(-50%, -50%);
}
.header #virus03 {
  position: absolute;
  width: 21.5vw; height: 43vw;
  left: 100%; top: 50vh;
  transform: translate(-100%, -50%);
}


.header #wave1{
  width: 100vw; height: 82%;
  position: relative;
  left: -1px; top: 75%;
  float: none;
  background: no-repeat bottom url(../src/wave_sample.png);
  background-size: contain;
}

.header #wave2{
  width: 100vw; height: 82%;
  position: relative;
  left: -1px; top: 75%;
  float: left;
  background: no-repeat bottom url(../src/wave_sample2.png);
  background-size: contain;
  opacity: 80%;
}

/*------------------------------------------------------------------MAIN--*/

.main-canvas {
  margin: 0;
  /* position: relative; */
  width: 100vw; height: auto;
  background: linear-gradient(#071121, #071121, #212121);
  justify-content: center;

  font-family: MaruBuri, Serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  color: white;

  z-index: 50;
}

.content-wrap {
  margin: 0 auto;
  padding: 1000px 0 400px 0;
  width: 1200px; 
}

/*지역*/
#regTag {
  position: relative;
}
/*장애*/
#disTag {
  position: relative;
}
/*국적*/
#fromTag {
  position: relative;
}
/*젠더*/
#genTag {
  position: relative;
}
/*교육*/
#eduTag {
  position: relative;
}
/*나이*/
#ageTag {
  position: relative;
}
/*소득*/
#incTag {
  position: relative;
}

#tagName {
  position:absolute; 
  width: 100px; height: calc(100% - 115px);
  margin: 0 50px; top: 3px;
  border-right: solid;
  border-width: 1px;
  padding-left: 30px;

  font-size: 18px;
}

#Lists-title{
  margin-left: 200px;
  width: 80%;
}

#Lists-title > li {
  margin-bottom: 100px;
  display: inline-block;
  cursor: pointer;
}

/*----------------------------------------------------------------POP-UP--*/

h1, h2 {
  margin: 0;
  font-size: 32px;
  font-weight: normal;

  display: inline;
}

h3 {
  margin: 0;
  font-size: 18px !important;
  font-weight: normal !important;

  display: inline;
}

h4 {
  margin: 0;
  font-size: 18px !important;
  font-weight: normal !important;

  display: inline;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 0.5px;
}

h6 {
  margin: 0;
}

h1::selection, h2::selection, h3::selection, h4::selection{
  color: #000000;
  background-color: #ffffff;

}

/* 
.popdown {
  opacity: 0%;
} */

#pop-window {
  position: fixed;
  left: 0; top: 0; 
  width: 100vw; height: 100vh;
}

.pop-back {
  left: 0; top: 0; 
  width: 100%; height: 100%;
  background-color: #071121;
  opacity: 50%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.pop-area {
  position: absolute;
  left: 50%; bottom: 0;
  transform: translateX(-50%);
  width: 60vw; height: 80vh;
  background-color: #212121;
  display: block;
  z-index: 1;
  padding: 120px 160px 0px 160px;

  font-family: MaruBuri, Serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}

.close {
  position: absolute;
  right: 40px; top: 40px;
  width: 50px; height: 50px;
  background: no-repeat center url("../src/close_btn.png");
}

.article-container {
  position: relative;
  width: 100%; height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  user-select: text;
}

.article-container::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.article-container .subtitle {
  position: relative;
  width: 100%; height: auto;
  left: 0; top: 60px;

  word-wrap: break-word;
  word-break: keep-all;
}

.article-container .info {
  position: inherit;
  width: 100%; height: auto;
  top: 70px;
}

.article-container .e-news {
  position: relative;
  width: 100%; height: auto;
  left: 0; top: 180px;
}

.article-container .e-news > h6 {
  font-size: 21px;
  line-height: 2;
  font-weight: normal;
  word-wrap: break-word;
  word-break: keep-all;
}

.article-container .e-news > h6::selection {
  color: #000000;
  background-color: #ffffff;
}

.article-container .e-news > h6 > br {
  user-select: none;
}

.article-container .e-news > h6 > strong {
  font-family: noh-sori,sans-serif;
  font-weight: 400;
  font-size: 20.5px;
}

.article-container .p-link {
  position: relative;
  width: 100%; height: 300px;
  top: 100px;
}

#non-news {
  font-size: 26px !important;
}


/*----------------------------------------------------------------FOOTER--*/

.footer {
  position: relative;
  width: 100vw; height: 60px;
  background-color: #221b12;
}

.about {
  position: relative;
  width: 100px; height: 100%;
  left: 80vw;
  padding-top: 12px;
  padding-left: 16px;

  font-family: degular-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.about-reverse {
  position: absolute;
  width: 100px; height: 100%;
  left: 80vw; top: 60px;
  padding-top: 12px;
  padding-left: 16px;

  font-family: degular-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

#aboutPage {
  position: relative;
  left: 0; top: 0; 
  width: 100vw; height: 100vh;
  
  background-color: #221b12;
  display: block;
  z-index: 1;
}

#aboutPage .about-wrap{
  position: relative;
  left: 0; top: 0; 
  width: 100%; height: 100%;
  
  background-color: #221b12;
  z-index: 1;
  padding: 360px 480px;

  font-family: MaruBuri, Serif;
  color: white; 

  user-select: text;
  overflow-y: scroll;
  scrollbar-width: none;
}

.about-wrap::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.about-wrap .about-title {
  display: block;
  position: absolute;
  left: 520px; top: 160px;
  height: 60px;
  user-select: none;

  font-size: 48px;
}

.about-wrap > p {
  font-size: 28px;
  line-height: 1.8;
  word-wrap: break-word;
  word-break: keep-all;
  text-indent: 0px;

          transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
}

.about-wrap > p::selection{
  color: #071121;
  background-color: #ffffff;
}


/*------------------------------------------------------------------BTNS--*/

.vmbtns-wrap {
  position: fixed;
  width: 60px; height: 180px;
  right: 60px; top: 60px;
  opacity: 0%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
}

.vmbtns-wrap #list-btn {
  background: no-repeat bottom url(../src/list_btn.png);
  background-size: contain;
  opacity: 100%;
}

.vmbtns-wrap #focus-btn {
  background: no-repeat bottom url(../src/focus_btn.png);
  background-size: contain;
  opacity: 20%;
}

.vmbtns-wrap #map-btn {
  background: no-repeat bottom url(../src/map_btn.png);
  background-size: contain;
  opacity: 20%;
}

#list-btn:hover, #focus-btn:hover, #map-btn:hover {
  opacity: 100% !important;
}

@keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.fade-out {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.fade-in {
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}
